In [1]:
from completepipeline import pipeline

In [2]:
pipeline('RF',4,5,tune=False,fe=False)

Elapsed time: 222.67437468003482 (s)
RMSLE is: 1.7188352109485674

       tile_h   tile_v  target  prediction
0      6831.0  12936.0     0.0        0.00
1      6897.0  12936.0     0.0        0.00
2      6963.0  12936.0     0.0        0.04
3      6996.0  12936.0     0.0        0.00
4      7029.0  12936.0     0.0        0.00
...       ...      ...     ...         ...
20963  6930.0  16797.0     0.0       13.80
20964  6996.0  16797.0     0.0        6.08
20965  7029.0  16797.0     0.0        6.64
20966  7161.0  16797.0     0.0       16.34
20967  7194.0  16797.0     0.0       18.85

[20968 rows x 4 columns]